.menu-bar {
  text-align: center;
}

.text-center {
  text-align: center;
}



.menu-list ul {
  list-style: none;
}

.menu-list ul li {
  display: inline;
}

.product-table {
  margin: 0 auto;
  border-collapse: collapse;
}
